body{

	margin: 0px;
	padding: 0px;
	font: 15px/22.5px "wf_SegoeUI","Segoe UI","Segoe","Segoe WP","Tahoma","Verdana","Arial","sans-serif";
    background-color: #fff;
    color: rgb(105, 97, 97);
}
#mainContainer{

	width: 960px;
	margin: 0px auto;
	background: #f8f8f8;
	border: 1px solid #B6B4B4;
	position: relative;
	padding: 0px 10px 30px 10px;
}
h1{
	display: block;
    font-size: 2em;
    font-weight: bold;
    margin: 0.67em 0;

}
#parent{
	background: #9d9383;
	height: 310px;
	color: #fff;
}
h2{

	display: block;
    font-size: 1.5em;
    font-weight: bold;
    margin: 0.83em 0;
}
#pink{

	background: #972c89;
 }
.inlineBlock{
	display: inline-block;
    border: 1px solid rgba(128, 128, 128, 0.41);
    padding: 10px;
    margin-top: 20px;
}
.box{
	width: 140px;
    height: 200px;
    text-align: center;
    color: #fff;
}
h4{
	display: block;
    font-size: 1em;
    font-weight: bold;
    margin: 1.33em 0;
}
#green{
	background: #7ca35b;
}
#pinkBoxControls{
	width: 220px;
	margin-top: 10px;
	height: 145px;
	display: inline-block;
	border: 1px solid rgb(199, 198, 198);
	text-align: center;
	margin-left: 50px;
	margin-right: 50px;
}
h3{
	direction: block;
	font-size: 1.125em;
	font-weight: bold;
	margin: 1em 0;
}
button{

	height: 33px;
    color: #fff;
    background-color: rgb(45,55,73);
    font-size: 16px;
    border: none;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   border-radius: 3px;
   display: inline-block;
   margin-top: 10px;
   outline: none;
}
#greenBoxControls{

	width: 220px;
    height: 145px;
    display: inline-block;
    border: 1px solid rgb(199, 198, 198);
    text-align: center;
}