<html>
	   <head></head>
	   <link rel="stylesheet" type="text/css" href="pro.css">
   <body>
   	 <div class="container">
   	 <header>
   	      <div class="logos"> </div>
           <ul class="nav">
          	<li> <a href="" class="home"> Home </a> </li>
          	<li> <a href="">About </a> </li>
          	<li> <a href=""> styles </a> </li>
          	<li> <a href=""> Gallery </a> </li>
          	<li> <a href=""> Curbing process </a> </li>
          	<li> <a href=""> Contacts </a> </li>
          </ul>   	 	
      </header>
    </div>
   <div class="container">
   	    <div class="slide">
   	    	<div class="page">
   	    		<div class="textholder">
   	             <a href="">    		
   	    			<h3> quality </h3>
   	    			<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore .</p>
   	    		 </a>
   	    		</div>
   	    		<div class="pageimage"></div>
   	    	</div>
   	    	<div class="page">
   	    		  
   	    		<div class="textholder1">
   	             <a href="">    		
   	    			<h3> beauty </h3>
   	    			<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore .</p>
   	    		 </a>
   	    		</div>
   	    		<div class="pageimage1"></div>
   	    	</div>
       
   	    	<div class="page">
   	    		<div class="textholder2">
   	             <a href="">    		
   	    			<h3> durability </h3>
   	    			<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore .</p>
   	    		 </a>
   	    		</div>
   	    		<div class="pageimage2"></div>
   	    	</div>

   	    	</div>
   	    </div>
   </div>
   <div class="container">
        <div class="intro">
   	      <h1> Welcome! </h1>
   	      <h3> Creating a clean and beautiful environment around your home or business is important. </h3>
          <p> At vero eos et accusamus et iusto odio dignissimos ducimus qui    blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. </p>
   </div>
</div>
      <div class="container">
        <div class="service">
       	    <div class="col">
       	    	<div class="additional"></div>
       	    	<p> Additional Services </p>
       	    </div>
       	    <div class="col">
       	    	<div class="photos"></div>
       	    	<p> Before & After Photos </p>
       	    </div>
       	    <div class="col">
       	    	<div class="testimonials"></div>
       	    	<p> Testimonials </p>
       	    </div>

        </div>
      </div>
          <div class="container">
          <div class="descriptions">
          	<div class="work">
          		<div class="dspic"></div>
          		<h2> Creative Design </h2>
          	     <p> At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti corrupti quos dolores et quas. </p>
                 <button> more </button>
          	</div>
          	       <div class="work">
          	       	 <div class="clean"></div>
          		     <h2> Clean Look </h2>
          	         <p> At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti corrupti quos dolores et quas. </p>
                     <button> more </button>
          	       </div>
                   <div class="work">
                   	    <div class="profes"></div>
          		        <h2> Clean Look </h2>
          	            <p> At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti corrupti quos dolores et quas. </p>
                        <button> more </button>

                   </div>
          </div>
        </div>
            
            <div class="container">
              <div class="footer">
                <div class="footerlogo"></div>
                <div class="socialicons">
                                <ul>
                                  <li>
                                    <a href="#">
                                      <div class="twitter sprites">
                                        
                                      </div>
                                    </a>
                                  </li>
                                  <li>
                                    <a href="#">
                                      <div class="facebook sprites">  </div>
                                    </a>
                                  </li>
                                  <li>
                                    <a href="#">
                                      <div class="googleplus sprites">
                                        
                                      </div>

                                    </a>
                                  </li>
                                  <li>
                                     <a href="#">
                                         <div class="pinterest sprites"></div>
                                     </a>
                                  </li>
                                  <li>
                                    <a href="#">
                                      <div class="linkedin sprites"></div>
                                    </a>
                                  </li>
                                </ul>
                              </div>
              </div>
            </div>


   </body>

</html>