<html>
   <head>
   <title> Free Launchpad Website </title>
   	<link rel="stylesheet" type="text/css" href="paypoul.css">
   </head>
   <body>
   <div class="container">
   	    <div id="header">
   	      <div class="headercontain-top">
             <div class="logo"></div>
             <ul>
                 <li class="tour">
                 	<a href="/"> Tour </a>
                 </li>
                 <li>
                 	<a href="/"> Features </a>
                 </li>
                 <li>
                 	<a href="/"> Pricing </a>
                 </li>
                 <li>
                 	<a href="/"> Support </a>
                 </li>

             </ul>
   	      </div>
   	             <div id="headercontain-bottom">
   	             	<div class="wrap">
   	             		<h1>Introduction <span> Paypaul </span> </h1>
   	             		<h2> A revolutionary e-commerce Platform </h2>
   	             		<div class="banner"></div>
   	             		<h3>Take it for a spin 
                            <span> today </span>
   	             		</h3>
   	             		<div class="button">
   	             			<a href="#">
   	             				Free Download
   	             				<div class="arrow"></div>
   	             			</a>
   	             		</div>
   	             		<p class="desc">
   	             			Available for 
   	             			<span> Mac,Windows,ios </span>
   	             			and 
   	             			<span> Android </span>
   	             		</p>
   	             	</div>
   	             </div>
             </div>
          </div>
          <div class="container">
             <div id="main">
             	<div class="features">
             		<h3>
             			Newly Added
             			<span>features</span>
             		</h3>
             		<div class="content"></div>
             	</div>
             	<div id="pricing">
             		<h3> Pricing <span> table </span></h3>
                   <section id="priceplans">
                   	<div class="plan">
                   		<ul class="plancontainer">
                   			<li class="title1">
                   				<h3> Plan 1 </h3>
                   			</li>
                   			<li class="price">
                   				<p>
                   					$10/
                   					<span> month </span>
                   				</p>
                   			</li>
                   			<li>
                   				<ul class="options">
                   					<li>
                   						2x 
                   						<span> option 1</span>
                   					</li>
                   					<li>
                   						Free 
                   						<span> option 2 </span>
                   					</li>
                   					<li>
                   						unlimited
                   						<span> option 3</span>
                   					</li>
                   					<li> 
                                         Unlimited 
                                         <span> option 4 </span>
                   					</li>
                   					<li>
                   						1x 
                   						<span> option 5</span>
                                    </li>
                   				</ul>
                   			</li>
                   			<li class="button">
                   				<a href="#"> Purchase </a>

                   			</li>
                   		</ul>
                   	</div>
                    <div class="plan">
                              <ul class="plancontainer">
                   			<li class="title">
                   				<h3> Plan 2 </h3>
                   			</li>
                   			<li class="price">
                   				<p>
                   					$10/
                   					<span> month </span>
                   				</p>
                   			</li>
                   			<li>
                   				<ul class="options">
                   					<li>
                   						2x 
                   						<span> option 1</span>
                   					</li>
                   					<li>
                   						Free 
                   						<span> option 2 </span>
                   					</li>
                   					<li>
                   						unlimited
                   						<span> option 3</span>
                   					</li>
                   					<li> 
                                         Unlimited 
                                         <span> option 4 </span>
                   					</li>
                   					<li>
                   						1x 
                   						<span> option 5</span>
                                    </li>
                   				</ul>
                   			</li>
                   			<li class="button1">
                   				<a href="#"> Purchase </a>

                   			</li>
                   		</ul>
                    	


                    </div>
                    <div class="plan">
                    	   <ul class="plancontainer">
                   			<li class="title1">
                   				<h3> Plan 3 </h3>
                   			</li>
                   			<li class="price">
                   				<p>
                   					$30/
                   					<span> month </span>
                   				</p>
                   			</li>
                   			<li>
                   				<ul class="options">
                   					<li>
                   						2x 
                   						<span> option 1</span>
                   					</li>
                   					<li>
                   						Free 
                   						<span> option 2 </span>
                   					</li>
                   					<li>
                   						unlimited
                   						<span> option 3</span>
                   					</li>
                   					<li> 
                                         Unlimited 
                                         <span> option 4 </span>
                   					</li>
                   					<li>
                   						1x 
                   						<span> option 5</span>
                                    </li>
                   				</ul>
                   			</li>
                   			<li class="button">
                   				<a href="#"> Purchase </a>

                   			</li>
                   		</ul>
                    </div>
                   </section>
             	</div>
                       <div id="support">
                       	     <h3> Our Customors <span> love it! </span></h3>
                       	     <section id="sectiongroup">
                       	     	<div class="col1">
                       	     	<a href="#">
                       	     		<div class="pic"></div>
                       	     	</a>	
                       	       <div class="col1desc">
                       	     			<h4>
                       	     				<a href="#"> Lorem ipsum </a>
                       	     			</h4>
                       	     			<p> Designer </p>
                       	     		</div>
                       	     	</div>
                       	     	<div class="col2">
                       	     	<a href="#">
                       	     		<div class="pic1"></div>
                       	     	</a>	
                       	       <div class="col1desc">
                       	     			<h4>
                       	     				<a href="#"> Lorem ipsum </a>
                       	     			</h4>
                       	     			<p> Designer </p>
                       	     		</div>
                       	     	</div>
                              <div class="col3">
                       	     	<a href="#">
                       	     		<div class="pic2"></div>
                       	     	</a>	
                       	       <div class="col1desc">
                       	     			<h4>
                       	     				<a href="#"> Lorem ipsum </a>
                       	     			</h4>
                       	     			<p> Designer </p>
                       	     		</div>
                       	     	</div>

                       	     	 <div class="col4">
                       	     	<a href="#">
                       	     		<div class="pic3"></div>
                       	     	</a>	
                       	       <div class="col1desc">
                       	     			<h4>
                       	     				<a href="#"> Lorem ipsum </a>
                       	     			</h4>
                       	     			<p> Designer </p>
                       	     		</div>
                       	    	</div>
                       	   </section>
                       	   <h5> Help us spread the word </h5>
                       	    	<div class="socialicons">
                       	    		<ul>
                       	    			<li>
                       	    				<a href="#">
                       	    					<div class="twitter sprites">
                       	    						
                       	    					</div>
                       	    				</a>
                       	    			</li>
                       	    			<li>
                       	    				<a href="#">
                       	    					<div class="facebook sprites">  </div>
                       	    				</a>
                       	    			</li>
                       	    			<li>
                       	    				<a href="#">
                       	    					<div class="googleplus sprites">
                       	    						
                       	    					</div>

                       	    				</a>
                       	    			</li>
                       	    			<li>
                       	    			   <a href="#">
                       	    			   	   <div class="pinterest sprites"></div>
                       	    			   </a>
                       	    			</li>
                       	    			<li>
                       	    				<a href="#">
                       	    					<div class="linkedin sprites"></div>
                       	    				</a>
                       	    			</li>
                       	    		</ul>
                       	    	</div>
                       </div>
                 </div>
          </div>
   </body>
</html>