body {

	background-color: #f7efeb;
	margin: 0;
}

#nav {

	width: 960px;
	height: 3.75em;
	margin: 0px auto;
	position: relative;
	top: 110px;
	background-color: #e15a1f;
	padding: 0px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;

}

#nav li {

	display: inline-block;
	position: relative;
    width: 239px;
    float: left;
    text-align: center;
   

}

#nav li a {
	
	color: white;
    line-height: 60px;
    font-size: 1.5em;
    height: 60px;
    display: block;
    text-decoration: none;
}

#nav li a:hover {
	background-color: #cc470d;
}

#nav li.blo ul {

	position: absolute;
    width: 240px;
    height: 248px; 
    background-color: #cc470d;
    padding: 0;
    top: 60px;
    border-top: 1px solid #e15a1f;
    visibility: hidden;
}
#nav li.blo:hover{
	background-color: #cc470d;
}

#nav li.blo ul li a {

    height: 61px;
    border-bottom: 1px solid #e15a1f;
    text-align: start;
    padding-left: 0.75em;
    font-size: 1.25em;
}

#nav li.blo
{
	border-right: 1px solid #cc470d;
	border-left: 1px solid #cc470d;
}
#nav li.blo ul li a:hover{

	background-color:#e15a1f; 
}

.work ul {

	position: absolute;
    width: 240px;
    height: 184px; 
    background-color: #cc470d;
    padding: 0;
    top: 60px;
    border-top: 1px solid #e15a1f;
    visibility: hidden;
}
/**/

.work ul li a {

    height: 61px;
    border-bottom: 1px solid #e15a1f;
    text-align: start;
    padding-left: 0.75em;
    font-size: 1.25em;
}

.work
{
	border-right: 1px solid #cc470d;
	
}
.work:hover
{
	background-color: #cc470d;
}
#nav li.work ul li a:hover{

	background-color:#e15a1f; 
}
 span:after{

	width: 0;
	height: 0;
	content: '';
	border: 0.313em solid transparent;
	border-bottom: none;
	vertical-align: middle;
	position: relative;
	display: inline-block;
	right: -0.313em;
	border-top-color:#efa585; 

}
