<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>bhushankadam.com</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>

          <div class="container">
            <div id="header">
             <div class="name">Bhushan kadam's Blog </div>
                 <ul class="nav">
                  <li class="about"><a href="/"> ABOUT </a></li>
                    <li><a href=""> PROJECTS </a></li>
                    <li><a href="/css/demo/demos.html"> DEMOS </a></li>
                    <li><a href="/"> RESUME </a></li>
                 </ul>
            </div>
         </div>
          <div class="container">
           <section id="main">
             <div id="descriptioncontains">
              <div id="description">
                <h2> Who Am I </h2>
                <div class="mypic sprites"></div>
                   
                   <h3> Hello, I'm Bhushan Kadam 25 year-old Frontend Engineer from Dungarpur ,Rajasthan , India </h3>

                   <p> I enjoy taking complex problems and turning them into simple and beautiful interface designs. I also love the logic and structure of coding and always strive to write elegant and efficient code, whether it be HTML, CSS or jQuery.
                       When I'm not coding , you'll find me in the gym or playing cricket. </p>

                  </div>

               </div>

                 <section id="myskills">

                  <h2> MY Skills </h2>
                  <div class="skill1 sprites">
                    <h5>CSS</h5>
                  </div>
                  <div class="skill2 sprites">
                    <h5>HTML</h5>
                  </div>
                  <div class="skill3 sprites">
                    
                    <h5>JAVA SCRIPT</h5>
                  </div>
                    <div class="skill4 sprites">
                      <h5>JQUERY</h5>
                    </div>

                 </section>
         </section>
      </div>
       <div class="container">
         <div id="footercontain">
          <div class="contain">
            <div class="whatIdo">
              <h4>ABOUT</h4>
              <div class="mypics sprites"></div>
              <div id="metaAboutme">
                <span class="names"> Bhushan Kadam </span>
                <br>
                <span class="job"> UI Engineer </span>
              </div>
            </div>
            <div class="contactme">
              <h4> CONTACT ME </h4>
              <div class="mail sprites"></div>
              <span id="emailId"> kadambhushan0@gmail.com </span>
              <br>
                    <div class="mobile sprites"></div>
                    <span id="myMobileNo">+91-979-987-2237</span>
                </div>

             </div>
         </div>
      </div>

      
    </body>
</html>
