<html>
	<head>
		 <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="bhushan kadam project">
    </head>
	<body>
	         <div id="header">
                <div id="container">
                      <span class="name">Bhushan Kadam's Blog </span>
                      <ul class="col1">
                          <li><a href="/">ABOUT</a></li>
                          <li><a href="/project.html">PROJECTS</a></li>
                          <li><a href="/">DEMOS</a></li>
                          <li><a href="/">RESUME</a></li>
                      </ul>
                </div>
             </div>	 
    </body>
</html>